<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./Partials/head") %>
    <title>Add New Dance</title>
</head>
<body>
    <%- include("./Partials/nav") %>

    <div class="container mt-3">
        <form action="/dance/add" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body</label>
                <textarea name="body" id="body" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="videoFile" class="form-label">Video File</label>
                <input type="file" class="form-control" id="videoFile" name="videoFile">
            </div>
            <div class="mb-3">
                <label for="coverImage" class="form-label">Cover Image(Optional)</label>
                <input type="file" class="form-control" id="coverImage" name="coverImage">
            </div>
            <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
    </div>

    <%- include("./Partials/scripts") %>
</body>
</html>